{"MoveN":264,"MoveNE":265,"MoveE":262,"MoveSE":259,"MoveS":258,"MoveSW":257,"MoveW":260,"MoveNW":263,"OpenInventory":105,"FireRangedWeapon":102,"Look":108,"CastSpell":99,"InteractWithCurrentTile":32,"RotateCharacter":9,"SpellSelect1":49,"SpellSelect2":50,"SpellSelect3":51,"SpellSelect4":52,"SpellSelect5":53}